*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}

:root {
  --primary-dark: #00373e;
  --primary-light: #cafff2;
  --background-color: #f8f6f5;
  --secondary-light: #d6cfc4;
  --secondary-dark: #fbd3b6;
}
